<div id="about-us" class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="position-headline">
          <h2 class="text-center text-uppercase">about us</h2>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="text-indent">
          <p class="text-center">
              WebServices ltd. was among the first companies offering e-commerce and professional payment processing services, modern fraud and chargeback prevention instruments and 24/7 customer support.
          </p>
          <p class="text-center">
              It did not take long before WebServices ltd. took up a leading position on the market thanks to its constant development and a desire to overcome a growing competition with the aid of advanced software and customizable services.
          </p>
          <p class="text-center">
              Today, every business collaborating with WebServices ltd. can see a significant growth in their revenue. The company works with businesses from all over the world aiming to meet and even exceed expectations of the customers, both existing and new ones.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
