<div id="customer-services" class="customer-services">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h2 class="text-center text-uppercase">Customer services</h2>
      </div>
      <div class="col-sm-12">
        <p class="text-center">
            WebServices ltd. is everything even the most demanding customer looks for in a payment service provider. Thanks to our expertise and years of experience in the field, you will start accepting online payments within several business days.
        </p>
      </div>
    </div>
      <div class="row text-center">
        <div class="col-md-6 col-lg-3 indent-element">
          <img style="width: 77px; height: 77px;"
                src="img/fast_payment.svg" 
                alt="fast payment">
          <div style="width: 100%; padding-top: 20px;">
              <span>Fast<br/>Payment</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 indent-element">
          <img  
            style="width: 81px; height: 77px;"
            src="img/data_authentication.svg" 
            alt="data authentication">
          <div style="width: 100%; padding-top: 20px;">
              <span>Data authentication<br/>and processing</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 indent-element">
          <img 
            style="width: 65px; height: 77px;" 
            src="img/secure_infrastructure.svg" 
            alt="secure infrastructure">
          <div style="width: 100%; padding-top: 20px;">
              <span>Secure IT<br/>Infrastructure</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 indent-element">
          <img
            style="width: 77px; height: 77px;" 
            src="img/technical_support.svg" 
            alt="technical support">
          <div style="width: 100%; padding-top: 20px;">
              <span>Technical<br/>Support</span>
          </div>
        </div>
      </div>
  </div>
</div>
