<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-start justify-content-md-center">
        <nav class="nav d-flex flex-column flex-md-row padding-nav">
          <a class="nav-link color-link" href="#home">Home</a>
          <a class="nav-link color-link" href="#customer-services">Services</a>
          <a class="nav-link color-link" href="#about-us">About Us</a>
          <a class="nav-link color-link" href="#contact-us">Contact Us</a>
          <a class="nav-link color-link" href="#">Privacy Policy</a>
          <a class="nav-link color-link" href="#">Terms & Conditions</a>
        </nav>
      </div>
     <div class="col-sm-12 text-center rights-reserved">All rights reserved © 2018</div>
    </div>
  </div>
  <script src="js/main.js"></script>
</footer>