<meta charset="UTF-8">

<!-- Useful meta tags -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<meta name="description" content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel beatae quam distinctio, a officia fuga modi debitis perspiciatis pariatur, facere dolorum, voluptate sapiente nulla? Tempore doloremque molestiae harum fugiat voluptatibus.">
<meta name="keywords" content="keywords, dolor">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="css/main.css" rel="stylesheet" />
<title>Web Services</title>
