
<div id="heder-show-hide">
  <div class="container">
    <div class="row">
      <div class="col-9 col-md-10 col-lg-4">
        <div class="logo">
          <img src="img/webservices_logo.svg" alt="Logo">
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <div class="navigation">
          <a class="nav-link" href="#home">Home</a>
          <a class="nav-link" href="#customer-services">Services</a>
          <a class="nav-link" href="#about-us">About Us</a>
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </div>
      </div>
      <div class="col-3 col-md-2 d-lg-none d-xl-none text-center d-flex justify-content-center align-items-center">
          <button style="margin-top: 24px;" type="button" onclick="clickShowAndHideMenu()" class="btn btn-primary">
            <img src="img/hamburger.svg" alt="hamburger">
          </button>
        <div id="show-mobile-menu" class="show-mobile-menu">
          <div class="row">
            <div class="col-12 d-flex flex-column">
              <a class="nav-link mobile-nav" href="#home">Home</a>
              <a class="nav-link mobile-nav" href="#customer-services">Services</a>
              <a class="nav-link mobile-nav" href="#about-us">About Us</a>
              <a class="nav-link mobile-nav" href="#contact-us">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
